* Series 
    - labelled 1 dimensional array
    - can have any type of index, but the dtype of the data is same
    - if data type mixed stores as object
    1.    Series is a 1-dimensional data structure supported by Pandas
    2.    Series objects have only one set of labels
    3.    We can create Series from 1-d arrays, dictionaries, lists, etc.
    4.    Series labels can be integers as well as strings

In [7]:
import pandas as pd

l = pd.Series([1, 4.7, 8])
print(l.dtype)
print(l[1])

index = ['Apple', 'Banana', 'Orange', 'grape']
quantity = [34, 20, 30, 40]
fruits = pd.Series(data=quantity, index=index)

float64
4.7

In [6]:
# when new index assigned old index with its data value is deleted creating a NaN or null value
d = {5.5:10, 6.5:30, 7.5:80}
index = [5.5, 4.5, 6.5]
pd.Series(data=d, index=index)
# please note missing integer value makes dtype of series float

5.5    10.0
4.5     NaN
6.5    30.0
dtype: float64

In [11]:
# search for values in data
fruits[fruits > 22]

Apple     34
Orange    30
grape     40
dtype: int64

In [17]:
fruits.Banana < 90

True

In [16]:
fruits["Banana"] == 90

False

In [21]:
fruits.sort_values()
fruits.sort_values(ascending = False)
fruits

Apple     34
Banana    20
Orange    30
grape     40
dtype: int64

In [23]:
data = pd.Series(range(10))
data

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

* DataFrame - 2-dimensional labelled data structure
    - stacked Series
    - can be used for multidimension
    - row, column concept
    - transpose function(.T) converts rows to columns &vice versa

In [24]:
w=132
h=64
bmi = (w/2.2)/(h*0.0254)**2
bmi

22.70512353524707